<header>
    <nav>
            <button class="nav-button" onclick="window.location.href='/'">Shop</button>
            <button class="nav-button" onclick="window.location.href='products'">Products</button>
            <button class="nav-button" onclick="window.location.href='products'">Add Product</button>
            <button class="nav-button" onclick="window.location.href='admin'">Admin Products</button>
            <button class="nav-button" onclick="window.location.href='cart'">Cart</button>
    </nav>
</header>